@import url('font-awesome.min.css');

html,body {
  height: 100%;
  width: 100%;
  font-family: 'FontAwesome', sans-serif;
  color: #222;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.carousel-inner img {
  margin-left: 1rem;
 width: 98%;
 height: 100%;
}
.carousel-caption{
position: center relative;
top: 50%;
transform: translateY(-50%);
}
.carousel-caption h1{
  font-size: 500%;
  text-shadow: 1px 1px 20px #000;
}
.carousel-caption p {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 20px #000;
  padding-bottom: 1rem;
}

/*---Caption Font Resizing---*/
h1.display-2{
  font-size:6vw;
}
h1.display-2~p {

  font-size:2vw;

}
h1.display-2~a{
  font-size:1vw;
}
@media only screen and (max-width: 600px) {
  .carousel-caption{
    top: 40%;
    }
  }
  @media only screen and (max-width: 434px) {
    .carousel-caption p{
      padding-bottom: 0;
      }
    }
.padding {
  padding-bottom: 2rem;
} 
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid crimson;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-exclamation-triangle {
  color: crimson;
}
.fa-wrench {
  color: dimgrey;
}
.fa-cogs {
  color: darkgrey;
}
.fa-tint {
  color: deepskyblue;
}
.fa-fire-extinguisher {
  color: crimson;
}
.fa-cogs,.fa-exclamation-triangle,.fa-fire-extinguisher,.fa-tint,.fa-wrench,.fa-search-plus {
  font-size: 4em;
  font-style: normal;
  transition: background 500ms ease;
}


.fa-copyright {
  font-style: normal;
  font-size: 1rem; 
  
}
 
.red-cover{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgb(168, 51, 51);
opacity: 0.4;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  margin-top: 1%;
  margin-bottom: 0.1%;

}
.container-fluid.padding{
  padding-bottom: 0;
  padding-top: 2rem;
}


hr.light {
  border-top: 1px solid crimson;
  border-bottom: 1px solid crimson;
  width: 75%;
  margin-top: .5rem;
  margin-bottom: 1rem;
}
hr.my-4 {
  border-top: 2px solid crimson;
  width: 99%;
  margin-top: .3rem;
  margin-bottom: 1rem;

}
hr{
  border-top: 1px solid rgb(219, 10, 45);
  border-bottom: 1px solid rgb(233, 10, 66);
  width: 40%;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

#map {
  height: 500px;
  width: 100%;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  #map {
    height: 400px;
  }
  
}
@media (max-width: 576px) {
  #map {
    height: 200px;
  }
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../img/3.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgb(241, 44, 9);
}
.contact-info li a {
  color: rgb(10, 176, 226);
  transition: background 500ms ease;
 }

 .contact-info li a:hover {
   color: #ac2020;
 }


.btn-primary {
  color: #fff;
  background-color: #0fb1ce;
  border-color: #007bff;
  transition: background 500ms ease;
 }

 .btn-primary:hover {
   background: #dd3113;
 }


a {
  color: #20acac;
}
a:hover{
  color: #be3309;
}

#map{
  border: rgb(233, 12, 12) solid 2px;
  border-radius: 1%;
}


/*----PROFILE----*/
.row h3 {

  font-weight: bold;
  color: rgb(204, 46, 46);
}

/*--Gallery--*/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}